<div ng-controller="PaymentController as vm">
	<ul class="list-inline text-center">
		<li class="list-inline-item">
			<div class="cover-item bg-theme-gold d-flex align-items-center text-white">
				<div class="w-100">
					<span class="h3 mb-0">&pound;9.99</span> <br>
					monthly
				</div>
			</div>
		</li>
		<li class="list-inline-item">
			<div class="cover-item bg-theme-gold d-flex align-items-center text-white">
				<div class="w-100">
					<span class="h3 mb-0">&pound;109.89</span> <br>
					yearly
				</div>
			</div>
		</li>
	</ul>
	
	<div class="row justify-content-center">
		<div class="col-12 col-md-3 mb-2 mb-md-0">
			<button type="button" class="btn btn-block btn-primary">
				Pay Monthly
			</button>
		</div>
		<div class="col-12 col-md-3">
			<button type="button" class="btn btn-block btn-primary">
				Pay Yearly
			</button>
		</div>
	</div>
	
</div>
